.sidebar-options {

    padding: 2rem 1rem;
    background-color: #f9f9f9;
    height:100%;

}

.sidebar-options a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    width: 100%;
    padding: .8rem 1.5rem;
    transition: .2s ease-in;
}

.sidebar-options a:hover {
    border-radius: .5rem;
    background-color: #e9e3e3;
}

.sidebar-options p {
    margin-left: 10px;
}

.sidebar-options .icon {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .sidebar-options {
        width: 100%;
        padding: 10px;
    }
}